package ${package}.rest;

import com.micro.framework.common.controller.AbstractController;
import ${package}.biz.${className}Biz;
import ${package}.entity.${className};
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.RequestMapping;

@Controller
@RequestMapping("${secondModuleName}")
public class ${className}Controller extends AbstractController<${className}BizService,${className}> {

}